@import url("https://fonts.googleapis.com/css2?family=Arya&family=Romanesco&family=Style+Script&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}
.snackbar {
  position: fixed;
  bottom: 2%;
  background-color: #c50303e5;
  right: 40%;
  min-width: 20em;
  display: none;
  border-radius: 5px;
  animation: appear 0.9s 1;
}
.snackbar_message {
  font-size: x-large;
  font-weight: 300;
  text-align: center;
  padding: 2.7%;
  color: white;
  color: white;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 90vw;

  margin: 0% auto;
}

.logo {
  z-index: 10;
  display: inline-flex;
  font-size: 40px;
  font-family: "Romanesco", sans-serif;
  font-weight: 500;
  color: azure;
  padding: 8px 19px;
  border-radius: 50%;
  border: solid azure;
  background-color: #000d53;
  transition: 0.3s ease-in-out;
}
.nav_ul {
  width: 70vw;
  display: flex;
  justify-content: right;
}
.nav_li {
  margin: 2% 2%;
  width: max-content;
  display: inline-flex;
  background-color: white;
}
.nav_a {
  text-decoration: none;
  font-size: 1.5em;
  color: #000d53;
}
#bars {
  display: none;
}
.login_cont {
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  box-sizing: border-box;
  width: 28em;
  border-radius: 10px;
  margin: 2% auto;
  height: 70vh;
  box-shadow: 0px 0px 40px rgba(66, 66, 66, 0.175);
}
#user {
  margin: 2% 0% 7%;
  color: #ae9200;
  font-size: 5em;
  display: block;
  text-align: center;
}
.input_box {
  display: flex;
  justify-content: left;
}
#input_icon {
  font-size: x-large;
  margin: 4% 0%;
  color: #5c5c5c;
  transform: translateX(1vw);
  z-index: 0;
}
.login_input {
  width: 100%;
  box-sizing: border-box;
  padding: 1% 2.3em;
  font-size: larger;
  background-color: #fcfcfc;
  border: 1px solid;
  color: #0c1233;
  margin: 2% -3vh;
}
.forgot {
  color: #000c53d9;
  text-decoration: none;
  font-size: large;
  margin: 2% 2%;
}
.log_btn,
.signup_btn {
  background-color: #ae9200;
  border: none;
  font-size: xx-large;
  width: 100%;
  margin: 2% auto 4%;
  color: white;
  padding: 1%;
}
.dont {
  color: #001797cd;
  text-decoration: none;
  text-align: center;
  font-size: large;
}
.socials {
  margin: 4% 0%;
  text-align: center;
}
#soc_icon {
  font-size: 2em;
  margin: 0% 2%;
  color: #ae9200;
}
/* one blog page */

@media screen and (max-width: 500px) {
  .login_cont {
    margin: 4% auto;
    width: 90vw;
    box-shadow: none;
  }
  #input_icon {
    font-size: larger;
    margin: 5% 0%;
  }

  .input_box {
    width: 82vw;
    margin: 0% auto;
  }
  .nav_ul {
    padding: 13vh 0%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    width: 100vw;
    transition: 0.7s;
    transform: translateY(-100%);
    top: -1%;
    z-index: 2;
    height: 60vh;
    left: 0%;
  }
  #bars {
    z-index: 10;
    display: inline-flex;
    font-size: 2em;
    margin: 3% 2%;
    color: #000d53;
  }
  .login_input {
    margin: 2% -3vh;
  }
}

/* validation css */
.login_input:valid {
  border: 3px solid rgb(149, 248, 149);
  outline: none;
}

.login_input:focus:invalid {
  border: 3px solid rgb(209, 94, 94);
  outline: none;
}
.snackbar {
  min-width: max-content;
  right: 15%;
  bottom: 5%;
}
