@import url("https://fonts.googleapis.com/css2?family=Arya&family=Romanesco&family=Style+Script&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}
.animation {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.478);
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 30;
  top: 0%;
}
.box {
  display: grid;
  text-align: center;
  padding-top: 13%;
  box-sizing: border-box;
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 22vh;
  left: 30%;
  z-index: 15;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(81, 30, 148, 0.5);
  background: rgba(0, 0, 0, 0.626);
  color: azure;
}

.box::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 90%;
  width: 90%;
  border: 10px solid transparent;
  border-top: 10px solid #ff006a;
  border-right: 10px solid #00ffae;
  border-radius: 50%;
  animation: rotinside 1s infinite;
}

@keyframes rotinside {
  0% {
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 10px solid #00ff08;
    border-left: 10px solid #fff700;
    transform: rotate(360deg);
  }
  50% {
    border-top: 10px solid #ff0000;
    border-right: 10px solid #000000;
    transform: rotate(360deg);
  }
}

.contact_name {
  padding: 2% 2%;
  font-size: large;
  max-width: 50vw;
  margin: 1% 1% 2%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0% auto;
}

.logo {
  z-index: 10;
  display: inline-flex;
  font-size: 50px;
  font-family: "Romanesco", sans-serif;
  font-weight: 500;
  color: azure;
  padding: 8px 20px;
  border-radius: 50%;
  border: solid azure;
  background-color: #000d53;
  transition: 0.3s ease-in-out;
}
.nav_ul {
  width: 70vw;
  display: flex;
  justify-content: right;
}
.nav_li {
  margin: 2% 2%;
  width: max-content;
  display: inline-flex;
  background-color: white;
}
.nav_a {
  text-decoration: none;
  font-size: 1.5em;
  color: #000d53;
}
#bars {
  display: none;
}
.search_box {
  width: 90vw;
  display: flex;
  justify-content: right;
}
.search_inpt {
  padding: 0.5% 2em;
  box-sizing: border-box;
  font-size: medium;
  width: 20em;
  background-color: #d9d9d9b2;
  border: none;
  border-radius: 10vh;
  color: #00137c;
}
#search_icon {
  transform: translateX(-0.5vw);
  font-size: larger;
  margin: 0.5% 0%;
  color: #000d53;
  position: absolute;
}
.blog_box {
  display: flex;
  width: 90vw;
  margin: 0% auto;
  justify-content: space-evenly;
  border-bottom: 10px solid black;
}

.blog_left {
  box-sizing: border-box;
  width: 60vw;

  margin-right: 0%;
}
.blog_hd {
  margin: 0%;
  font-size: 2em;
  color: #000d53;
  text-transform: uppercase;
}
.author {
  text-align: right;
  color: #000c53d1;
  font-weight: 600;
}
.blog_desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #1c458b;
  font-size: x-large;
}
.blog_img {
  width: 100%;
}
.blog_content {
  margin: 5% 0%;
  font-size: x-large;
  line-height: 30px;
  font-family: serif;

  color: #262626;
}
.blog_right {
  border-top: 5px solid black;
  width: 30vw;
  margin: 3% 2%;
  padding: 1% 0%;
}
.read {
  font-size: 1.7em;
  margin: 2% 0%;
  display: inline;
}
.blog_visit {
  display: flex;
  margin: 2% 0%;
  overflow: hidden;
}
.more_blogs_img {
  width: 8em;
  height: 8em;
}
.blog_more_title {
  font-size: larger;

  overflow: hidden;
}
#blogCONT p {
  font-family: serif;
  line-height: 150%;
  font-size: larger;
  color: #1e1e1e;
  margin: 2%;
}
.more_blog_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% 2%;
}
.comment_section {
  width: 45vw;
  margin: 2% 5%;
}
.comment {
  min-width: 40vw;
  padding: 2%;
  text-anchor: none;
  resize: none;
  font-size: larger;
  border-radius: 2vh;
}
.post_comment {
  min-width: 10vw;
  border: none;
  padding: 1%;
  margin: 2% 0%;
  font-size: x-large;
  color: white;
  background-color: #1c458b;
}
.other_comments {
  margin: 2% 5%;

  width: 40vw;
}
.Actual_comment {
  font-size: medium;
  color: gray;
  margin-bottom: 2%;
}
.name {
  color: #000d53;
  margin: 1% 0%;
}
.comment_box {
  display: flex;
  padding: 1% 2%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.461);
  margin: 2% 0%;
}
.footer {
  width: 100%;

  min-height: 40vh;
  background-color: #00034a;
}
#user {
  font-size: xx-large;
  margin: 2%;
  background-color: gray;
  color: white;
  height: fit-content;
  padding: 1% 1% 1%;
}
.logo_footer {
  font-size: 40px;
  font-family: "Romanesco", sans-serif;
  font-weight: 500;
  width: 20px;
  color: azure;
  margin: 0%;
  padding: 8px 20px;
  border-radius: 50%;
  border: solid azure;
}
.footer_content {
  width: 90vw;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0% 1%;
  min-width: 30vw;
  width: fit-content;
  justify-content: left;
  height: 25vh;
}

.nav_footer {
  width: fit-content;
  font-size: x-large;
  color: azure;
  text-decoration: none;
  margin: 0% 4%;
  font-family: "Arya";
}
.thanks {
  font-family: "Style Script";
  font-size: 3em;
  color: white;
}
.subscribe {
  color: azure;
  font-size: 2em;
}
.sub_email {
  width: 10em;
  padding: 1%;
  font-size: larger;
}
.sub_btn {
  background-color: #8f7b17;
  color: black;
  padding: 1%;
  font-size: x-large;
  border: none;
}

@media screen and (max-width: 780px) {
  .blog_box {
    flex-direction: column;
    justify-content: center;
  }
  .search_inpt {
    font-size: larger;
    padding: 2%;
    margin: 2% 0%;
  }
  #search_icon {
    margin: 4%;
    transform: translateX(1vh);
  }
  .blog_left {
    width: 80vw;
    margin: 2% 0%;
  }
  .blog_right {
    width: 70vw;
  }
  .comment_box {
    width: 70vw;
  }
}
.blog_all {
  margin: 0% auto;
  padding-bottom: 5%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog_cont {
  scale: 1;
  width: 30vw;
  border-radius: 10px;
  max-width: 15em;
  margin: 2% 0%;
  margin-right: 3%;
  padding-bottom: 1.5%;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.277);
  background-color: #ffffff;
  transition: 0.3s ease;
}
.blog_cont:hover {
  scale: 1.05;
}

.blog_img {
  width: 100%;
  height: 35vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog_img_single {
  width: 100%;
}
.blog_desc {
  padding: 5%;
  font-size: large;
  font-weight: 600;
  color: #00034a;
}
.read_blog {
  background-color: #071458;
  color: white;
  font-size: large;
  padding: 3% 3%;
  margin: 8% 4%;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .nav_ul {
    padding: 13vh 0%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    width: 100vw;
    transition: 0.7s;
    transform: translateY(-100%);
    top: -1%;
    z-index: 2;
    height: 30vh;
    left: 0%;
  }
  #bars {
    z-index: 10;
    display: inline-flex;
    font-size: 3em;
    margin: 3% 2%;
    color: #000d53;
  }
  .search_box {
    width: 100vw;
    padding: 0% 2%;
    box-sizing: border-box;
  }
  #search_icon {
    margin: 5%;
    transform: translateX(1vh);
  }
  .search_inpt {
    font-size: larger;
    padding: 2%;
    margin: 4% 0%;
  }
  .blog_box {
    width: 100vw;
    display: grid;
    justify-content: center;
  }
  .blog_left {
    width: 90vw;
  }
  .blog_hd {
    font-size: x-large;
  }
  .blog_content {
    font-size: larger;
  }
  .blog_right {
    width: 90vw;
    box-sizing: border-box;
  }
  .comment {
    margin: 5% 0%;
    border-radius: 6px;
    width: 80vw;
  }
  .footer {
    padding: 2%;
    box-sizing: border-box;
  }
  .footer_content {
    box-sizing: border-box;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .blog_cont {
    flex: 1 0 40%;
    max-width: 40vw;
  }
}
