@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
html{
    scroll-behavior:smooth;
    scrollbar-width: 1px;
    
}

*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
   
}


.landing_page{
    height: 100vh;
    
    background-color: #b69e21;
    width: 100%;
   
    position: fixed;
    top: 0%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    animation: dropdown 2s 1;
    
}
@keyframes dropdown{
    0%{clip-path: inset(0 100% 0 0);opacity: 0;}
    100%{clip-path: inset(0 100% 0 100%);}
}



.navigation_bar{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    top: 0%;
    
    z-index: 10;
    position: fixed;
    left: 7vw;

}
.logo{
    font-size: 50px;
    font-family:  'Romanesco',sans-serif;
    font-weight: 500;
    color: azure;
    margin: 5% 0%;
    padding: 8px 20px;
    border-radius: 50%; 
    border: solid azure;
    background-color: #000d53;
    animation: binksake 2s infinite;
    transition: .3s ease-in-out;
}
.logo:hover{

}
@keyframes binksake {
   0% {background-color: #000D53}
    50%{background-color: #8f7b17;}
    100%{background-color: #000D53;}
    
}
.nav_ul{
    margin: 1.5% 0%;
    display: flex;
    min-width: 70vw;
    justify-content: right;
    

}
#bars{
    display: none;
}
.nav_li{
    margin: 1% 1.5%;
    
    list-style: none;
}
.nav_a{
    font-size: 2.5vw;
    text-decoration: none;
    color: azure;
    font-family: sans-serif;
    transition: .7s ease-in-out;
}
.nav_a:hover{
    font-size: 3vw;
    color: #000223;

}
.mid_landing{
    display: flex;
    width: 85vw;
    margin: 20vh auto;
    justify-content: space-between;
    

}

.hey{
    font-size: 3vw;
    color: #000223;
    margin: 2% 0% 2%;
    font-family: sans-serif;
    font-weight: 500;
    animation: hey 4s 1 ;
    transition: .4s ease-in-out;
}
@keyframes hey {
    0%{clip-path: inset(0 100% 0 0); }
    100%{clip-path: inset(0 100% 0 100%);}
    
}
.name{
    color: #000223;
    font-size: 4vw;
    font-family: sans-serif;
    margin: 2% 0% 2%;
    animation: name 6s 1 ;
    transition: .4s ease-in-out;
}
.name:hover,.hey:hover{
   margin: 2% 4% ;
   
}
@keyframes name {
    0%{clip-path: inset(0 100% 100% 100%); }
    100%{clip-path: inset(0 100% 0 100%);}
    
}
.full_s{
    color: #000223;
    font-family: sans-serif;
    font-size: 3vw;
    animation: hey 6s 1 ;
    transition: .2s ease-in-out;
}
.full_s:hover{
    color: black;
}
.lefty_buttons{
    display: flex;

}
.learn_more{
    background-color: #ab9000;
    font-size: 2vw;
    padding: 1% 2%;
    margin: 2% 0%;
    border: 4px solid black;
    border-radius: 0%;
    transition: .5s ease;
}
.learn_more:hover{
    color: #ab9000;
    background-color: white;
   border:solid white;
   
    

}
.contact_us{
    text-decoration: none;
    background-color: #00034a;
    color: azure;
    font-size: 2vw;
    padding: 1% 3%;
    margin: 2% 4%;
    border: 4px solid #00034a;
    border-radius: 0%;
    transition: .7s ease;

}
.contact_us:hover{
    color: #ab9000;
    scale: 1.15;
  
}

.lefty_bottom{
    display: block;
    margin: 4% 0%;
  

}
.bottom_list{
    color: rgba(211, 211, 211, 0.812);
    font-size: larger;
    font-family: sans-serif;
    padding: 0% 1%;
    border-left:  solid azure;
  
    font-weight: 300;
}

#me_img{
    display: flex;
    border-radius: 50%;
    width: 25vw;
    padding: 3vh;
    background-color: azure;
    transition: .6s ease;
    animation: bod 2s 1 ;
}
@keyframes bod{
   
    50%{border-radius: 0%; }
    20%{border-radius: 50%; }
    
}
#me_img:hover{
   
    background-color: #000223;
}
.socials{

    display: block;
    text-align: right;
    margin: 3vh 0%;
    right: 7vw;
    width: 50vw;
    position: absolute;


}
#soc_icon{
    font-size: 6vh;
    margin: 0% 4%;
    color: azure;
    transition: .31s ease-in-out;
}
#soc_icon:hover{
    scale: 1.4;
    color: red;
}
/*
parrallax scrolling */
.non{
   
    position: absolute;
    top: 100vh ;
    width: 100%;
   

}
/* about page */
#about  {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    justify-content: right;
    
    min-height: 100vh;
    background-color: white;
}
.about_img{
    scale: 1.3;
    top: 30vh;
    position: absolute;
    left: 0%;
 
    
    
   
    
   
}

.about_right{
    z-index: 2;
    width: 45vw;
    margin: 15vh 3%;
    border-radius: 30px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.455);
    padding: 2% 4% 0%;
    background-color: rgba(217, 217, 217, 0.316);
}
.about_right_hd{

    font-size: 45px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0% 0% 2%;
color: #9F8600;
}
.about_right_txt{
    font-size: 24px;
    color: #272727;
    
}
.about_education{
    font-size: 32px;
    color: #000D53;
    margin: 5% 0% 2%;

}
.about_actual_ed{
    padding: 0% 2% ;
   
    border-left: 4px solid #000D53;

}
.line_ed::before{
    content: "";
    position: absolute;
    background-color: #000D53;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateX(-1.4vw);
    
}


.line_ed{
   
    margin: 2% 0%;
}
.line_ed_year{
color: #989898;
font-size: large;
}

.line_ed_where{
    font-size: larger;
    color: #000c53b3;
}
/* skillspage */


.skills{
   
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;


}
.skills_hd{
   
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0% 0% 2%;
    text-align: center;
color: #9F8600;
padding: 2%;

}


/* my projects page */
.myprojects{
   
    height: 100vh;
    width: 100%;

    background-color: white;
}
.blogs{
   
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;


}
#contact_page{
   
    width: 100%;
    height: 100vh;
    background-color: white;

}
.footer{
    width: 100%;
    height: 40vh;
    background-color: #00034a;
}




/* Tablet view */

@media screen and (max-width:800px) {
    .landing_page{
        padding: 0% 0% 7vh;
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .non{
        position: relative;
        top: 0%;
    }
    .navigation_bar{
        margin: 0%;
        width: 95vw;
        left: 2vw;
    }
    .nav_a{
        font-size: x-large;
        
    }
    .logo{
        scale: 0.8;
    }
    .mid_landing{
        display: flex;
        flex-direction: column-reverse;
        width: 90vw;
        padding: 20vh 0% 0%;
        margin: 0% auto;
        justify-content: center;       
    
    }
    #me_img{
        width: 17em;
        margin: 0% auto;
    }
    .lefty{
        display: grid;
        justify-content: center;
    }
    .hey{
        text-align: center;
        margin: 2% 0% 1%;
        font-size: 4vw;
    }
    .name{
        margin: 0%;
        font-size: 3em;
        text-align: center;
    }
    .full_s{
        font-size: 1.8em;
    }
    .learn_more{
        font-size: 1.5em;
    }
    .contact_us{
        font-size: 1.5em;

    }
   
    .socials{
        position: absolute;
        top: 13vh;
        right: 2%;
        display: flex;
        flex-direction: column;
    }
    #soc_icon{
        font-size: xx-large;
        margin: 3vh 0%;
    }
    #about{
       
      height: fit-content;
    }
    .about_right{
        padding:6% 2%;
        background-color: rgba(217, 217, 217, 0.45);
        width:90vw;
        height: fit-content;
    }
    .about_img{
        height: 40vh;
        top: 50vh;
    }
    .line_ed::before{
      
        transform: translateX(-3vw);
        
    }

  

}

/* MOBILE view */
@media screen and (max-width:500px) {
    .navigation_bar{
        width: 100%;
        left: 0%;
       
    }
    .nav_ul{
       display: none;
        
    
    }
    .logo{
        font-size: 50px;
        padding: 10px 25px;
        border-radius: 50%; 
      
    }
    #bars{
        display: inline;
        font-size: 45px;
        color: azure;
        margin: 3.5% 4%;
    }
    .mid_landing{
    padding: 15vh 0% 0%;
   
    
    }
    #me_img{
        width: 50vw;
        margin: 0% auto;
    }
    .hey{
        text-align: center;
        margin: 4% 0% 1%;
        font-size: 6vw;
    }
    .name{
        margin: 0%;
        font-size: 8vw;
        text-align: center;
    }
    .full_s{
        font-size: 6vw;
    }
    .learn_more{
        font-size: 5vw;
    }
    .contact_us{
        font-size: 5vw;

    }
 
    
}